body {
    background-color: silver;
    font-family: fantasy, sans-serif;
    margin: 0;
    padding: 0;
}


#board {
    background-color: darkkhaki;
    background-size: 1000px 550px;
    border: 25px solid green;
    border-radius: 30px;
    height: 550px; 
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-align: center;
    top: 10px;
    width: 1000px; 
}


#start-place {
    background-image: url("../img/start-flag.jpg");
    background-size: 24px 260px;
    height: 220px;
    left: 500px;
    margin: 0px;
    position: absolute;
    top: 0px;
    width: 24px;
}


#grass-in {
    box-sizing: content-box;
    background-color: white;
    border: 10px dotted red;
    border-radius: 5px;
    height: 55px;
    left: 240px;
    margin: 0;
    position: absolute;
    top: 220px;
    width: 500px;
}

#grass-in h1 {
    background-color: green;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
    font-size: 24px;
    height: 55px;    
    left: -2px;
    letter-spacing: 7px;
    margin: 0px;
    padding: 12px 20px 0 20px;
    position: absolute;
    text-align: center;
    width: 504px;
    word-spacing: 8px;
}


#car {
    background-image: url("../img/car.png");
    background-size: 80px 60px;
    height: 60px;
    left: 415px;
    margin: 0 auto;
    position: absolute;
    top: 50px;
    width: 80px;
    z-index: 999;
}


#car.crashed {
    background-image: url("../img/boom.png");
    background-size: cover;
    height: 100px;
    width: 100px;
}


.down {
    transform: rotate(90deg);
}

.up {
    transform: rotate(270deg);
}   

.right {
    transform: rotate(360deg);
}

.left {
    transform: rotate(180deg);
}

.container-lifes {
    background-color: darkkhaki;
    border: 8px solid green;
    border-radius: 8px;
    float: left;    
    height: 280px;
    left: 20px;
    position: relative;
    padding: 0;
    top: 185px;    
    width: 100px;
}

.container-lifes ul li {
    box-sizing: border-box;
    left: 0;
    list-style-type: none;
    padding: 0;
    position: relative;
    top: 0;
}

.container-lifes ul h2 {
    letter-spacing: 4px;
    margin-left: -35px;
    text-align: center;
}


/* CHASSIS: 4 box del->tras // WHEELS: 4 box (del-r, del-l, tras-r, tras-l)  */
#life-1 {
    background-color: aqua; /* PILOT, CENTRAL POINT REFERENCE */
    border-radius: 4px;
    box-shadow: 1.5em 0 0 -.07em red, 1em 0 0 0 red, 0 0 0 .15em red, -0.9em 0 0 .2em red, 1em .87em 0 -.05em black, 1em -.87em 0 -.05em black, -1em 1em 0 0 black, -1em -1em 0 0 black;
    height: 1em; 
    margin: 40px 0 5px 0;
    position: relative;
    width: 1em;
}

/* CHASSIS: 4 box del->tras // WHEELS: 4 box (del-r, del-l, tras-r, tras-l)  */
#life-2 {
    background-color: aqua; /*PILOT, CENTRAL POINT REFERENCE */
    border-radius: 4px;
    box-shadow: 1.5em 0 0 -.07em red, 1em 0 0 0 red, 0 0 0 .15em red, -0.9em 0 0 .2em red, 1em .87em 0 -.05em black, 1em -.87em 0 -.05em black, -1em 1em 0 0 black, -1em -1em 0 0 black;
    height: 1em; 
    margin: 50px 0 5px 0;
    position: relative;
    width: 1em;
}

/* CHASSIS: 4 box del->tras // WHEELS: 4 box (del-r, del-l, tras-r, tras-l)  */
#life-3 {
    background-color: aqua; /*PILOT, CENTRAL POINT REFERENCE */
    border-radius: 4px;
    box-shadow: 1.5em 0 0 -.07em red, 1em 0 0 0 red, 0 0 0 .15em red, -0.9em 0 0 .2em red, 1em .87em 0 -.05em black, 1em -.87em 0 -.05em black, -1em 1em 0 0 black, -1em -1em 0 0 black;
    height: 1em; 
    margin: 50px 0 5px 0;
    position: relative;
    width: 1em;
}

.container-score, .container-laps, .container-time {
    background-color: darkkhaki;
    border: 8px solid green;
    border-radius: 8px;
    float: right; 
    height: 130px;
    letter-spacing: 4px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 15px;
    width: 110px;
}

.container-score {
    margin-top: 2px;
}

.container-laps {
    top: 177px;
}

.container-time {
    top: 337px;    
}

#score-play {
    font-size: 40px;
    left: 0;
    margin: 0;
    text-align: center;
}

#laps-play {
    font-size: 40px;
    margin: 0;
    left: 0;
    text-align: center;
}

#game-over {
    background-repeat: no-repeat;
    height: 620px;
    left: 120px;
    margin: 0 auto;
    position: fixed;
    opacity: 0;
    top: 1px;
    transition-duration: 3000ms;
    transition-timing-function: ease;
    width: 1120px;
    z-index: 9999;
}


#time-play {
    font-size: 30px;
    left: 0;
    margin: 0;
    text-align: center;
}

#button-play {    
    float: left; 
    left: -225px;
    letter-spacing: 2px;    
}

#button-reset {    
    float: right; 
    letter-spacing: .5px;    
    right: 20px;
    text-align: left;
}

.button {
    background-color: #FF2121;
    border: none;
    border-radius: 8px;
    box-shadow: 0 9px gray;
    font-family: fantasy;
    font-size: 30px;
    height: 90px;
    margin: 0px;
    padding: 15px 25px;
    position: relative;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    top: 510px;
    width: 115px;
}

.button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.goal-flag {
    float: left;
    height: 80px;
    left: -102px;
    position: relative;
    top: 45px;
    width: 130px;
}
