body {
    font-family: fantasy, sans-serif;
    margin: 0;
    padding: 0;
    background-color: silver;
}

#board {
    background-color: darkkhaki;
    background-size: 1000px 550px;
    border: 25px solid green;
    border-radius: 30px;
    height: 550px; 
    margin: 0 auto;
    position: relative;
    padding: 0;
    text-align: center;
    top: 10px;
    width: 1000px; 
}


#start-place {
    background-image: url("../img/start-flag.jpg");
    background-size: 24px 260px;
    height: 220px;
    left: 500px;
    margin: 0px;
    position: absolute;
    top: 0px;
    width: 24px;
}

#grass-in {
    box-sizing: content-box;
    background-color: white;
    border: 10px dotted red;
    border-radius: 5px;
    height: 55px;
    left: 240px;
    margin: 0;
    position: absolute;
    top: 220px;
    width: 500px;
}

#grass-in h1 {
    background-color: green;
    border-radius: 4px;
    box-sizing: border-box;
    letter-spacing: 7px;
    word-spacing: 8px;
    padding: 12px 20px 0 20px;
    width: 504px;
    height: 55px;    
    font-size: 24px;
    color: black;
    left: -2px;
    margin: 0px;
    text-align: center;
    position: absolute;
}


#car {
    background-image: url("../img/car.png");
    background-size: 80px 60px;
    top: 50px;
    left: 415px;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    height: 60px;
    width: 80px;
}

/*  #car {
    transition: .3s linear; */
/*   
   perspective: 800px; 
	perspective-origin: 50% 100px;
} */

#car.crashed {
    background-image: url("../img/boom.png");
    height: 100px;
    width: 100px;
    background-size: cover;
}


.down {
    transform: rotate(90deg);
}

.up {
    transform: rotate(270deg);

}   

.right {
    transform: rotate(360deg);

}

.left {
    transform: rotate(180deg);

}

.container-lifes {
    float: left;    
    background-color: darkkhaki;
    width: 100px;
    height: 280px;
    position: relative;
    top: 185px;    
    left: 20px;
    padding: 0;
    border: 8px solid green;
    border-radius: 8px;
}



.container-lifes ul li {
    box-sizing: border-box;
    list-style-type: none;
    top: 0;
    left: 0;
    padding: 0;
    position: relative;
}

.container-lifes ul h2 {
    text-align: center;
    letter-spacing: 4px;
    margin-left: -35px;
}





/* CHASSIS: 4 box del->tras // WHEELS: 4 box (del-r, del-l, tras-r, tras-l)  */
#life-1 {
    box-shadow: 1.5em 0 0 -.07em red, 1em 0 0 0 red, 0 0 0 .15em red, -0.9em 0 0 0 red, 1em .95em 0 -.05em black, 1em -.90em 0 -.05em black, -1em 1em 0 0 black, -1em -1em 0 0 black;
    background-color: aqua; /* PILOT, CENTRAL POINT REFERENCE */
    width: 1em;
    height: 1em; 
    margin: 40px 0 5px 0;
    position: relative;
    border-radius: 4px;
}

/* CHASSIS: 4 box del->tras // WHEELS: 4 box (del-r, del-l, tras-r, tras-l)  */
#life-2 {
    box-shadow: 1.5em 0 0 -.07em red, 1em 0 0 0 red, 0 0 0 .15em red, -0.9em 0 0 0 red, 1em .95em 0 -.05em black, 1em -.90em 0 -.05em black, -1em 1em 0 0 black, -1em -1em 0 0 black;
    background-color: aqua; /*PILOT, CENTRAL POINT REFERENCE */
    width: 1em;
    height: 1em; 
    margin: 50px 0 5px 0;
    position: relative;
    border-radius: 4px;
}

/* CHASSIS: 4 box del->tras // WHEELS: 4 box (del-r, del-l, tras-r, tras-l)  */
#life-3 {
    box-shadow: 1.5em 0 0 -.07em red, 1em 0 0 0 red, 0 0 0 .15em red, -0.9em 0 0 0 red, 1em .95em 0 -.05em black, 1em -.90em 0 -.05em black, -1em 1em 0 0 black, -1em -1em 0 0 black;
    background-color: aqua; /*PILOT, CENTRAL POINT REFERENCE */
    width: 1em;
    height: 1em; 
    margin: 50px 0 5px 0;
    position: relative;
    border-radius: 4px;
}


.container-score, .container-laps, .container-time {
    float: right; 
    text-align: center;
    letter-spacing: 4px;
    background-color: darkkhaki;
    width: 110px;
    height: 130px;
    position: absolute;
    right: 15px;
    top: 15px;
    border: 8px solid green;
    border-radius: 8px;
}

.container-score {
    margin-top: 2px;
}

.container-laps {
    top: 177px;
}

.container-time {
    top: 337px;    
}

#score-play {
    font-size: 40px;
    margin: 0;
    text-align: center;
    left: 0;
}

#laps-play {
    font-size: 40px;
    margin: 0;
    text-align: center;
    left: 0;
}

#game-over {
    /*background-image: url("../img/game-over-logo.png");*/
    background-repeat: no-repeat;
    height: 620px;
    width: 1120px;
    margin: 0 auto;
    position: fixed;
    top: 1px;
    left: 120px;
    opacity: 0;
    z-index: 9999;
    transition-duration: 3000ms;
    transition-timing-function: ease;
    
    
}

#time-play {
    font-size: 30px;
    margin: 0;
    text-align: center;
    left: 0;
}


#button-play {    
    float: left; 
    letter-spacing: 2px;    
    left: -225px;
}

#button-reset {    
    float: right; 
    text-align: left;
    letter-spacing: .5px;    
    right: 20px;
        
}

.button {
    border-radius: 8px;
    padding: 15px 25px;
    font-family: fantasy;
    margin: 0px;
    top: 510px;
    background-color: #FF2121;
    width: 115px;
    height: 90px;
    position: relative;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: 0 9px gray;
    font-size: 30px;
}

.button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}



.goal-flag {
    float: left;
    width: 130px;
    height: 80px;
    position: relative;
    top: 45px;
    left: -102px;
}


